include ./include/mixinComment.pug

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="shortcut icon" href="#")
        link(rel="stylesheet" type="text/css" href='./css/bootstrap.min.css')
        link(rel="stylesheet" href="./css/my-style.css")
        title Comments
    body
        // Title
        .container-fluid.text-center.py-4.bg-dark.text-white.mb-5
            h2 Comments Page

        // Form container
        .container.mb-5
            .row
                .col-lg-4.empty-space
                .content.col-lg-4.border.border-3.border-dark.rounded.px-4.py-3
                    div
                        h3 Add new comment
                        hr
                    form(action='/add-new-comment' method='POST')
                        .mb-3
                            label.form-label(for='inputAvatar') Avatar
                            include ./include/avatar-selection.pug
                        .mb-3
                            label(for='floatingTextarea') Comment
                            .form-floating
                            textarea.form-control(name='message' placeholder='Leave a comment here')
                        .mb-3
                            label.form-label(for='inputAuthor') Author
                            input.form-control(name='author')
                        button.btn.btn-primary(type='submit' name='submit' value='submit') Submit
                .col-lg-4.empty-space

        .container
            each com in comments.reverse()
                +mixinComment(com)

        script(src="js/index.js")



        