<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/login.css">
</head>

<body>

    <div class="container login-container register-container bg-white">

        <div class="row text-center mt-4">
            <div class="login-title">
                <div class="display-6"> <strong>Register</strong> </div>
            </div>
        </div>

        <div class="row p-3">
            <form action="" method="">
                <div class="mb-4 mt-3 mx-3">
                    <label for="username" class="form-label">Username:</label>
                    <input type="text" class="form-control border rounded border-1" id="username"
                        placeholder="Enter username" name="username">
                </div>
                <div class="mb-4 mt-3 mx-3">
                    <label for="email" class="form-label">Email:</label>
                    <input type="email" class="form-control border rounded border-1" id="email"
                        placeholder="Enter email" name="email">
                </div>
                <div class="mb-4 mx-3">
                    <label for="pwd" class="form-label">Password:</label>
                    <input type="password" class="form-control border rounded border-1" id="pwd"
                        placeholder="Enter password" name="pswd">
                </div>
                <button type="submit" class="mx-3 btn btn-primary rounded">Register</button>
                <div class="m-3">
                    <p> Already have an account? <a href="/login">Log in here</a></p>
                </div>
            </form>
        </div>
    </div>

</body>

</html>